<section ng-controller="UsersController">
    <form class="form-horizontal" ng-submit="update()" ng-init="findUser();">
        <div class="row col-md-offset-3 col-lg-6 page-header">
            <div class="well">
                <fieldset>
                    <legend>Update profile.....</legend>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-3">
                            <input id="first" ng-model="user.firstname" type="text" name="firstname" placeholder="First name" class="col-lg-1 form-control"></div>
                        <div class="col-lg-7">
                            <input id="lastname" ng-model="user.lastname" type="text" name="lastname" placeholder="Last name" class="col-lg-1 form-control"></div>
                        </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-7">
                            <input id="email" disabled ng-model="user.email" type="text" name="email" placeholder="Email" class="col-lg-1 form-control">
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-primary">Change</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Phone</label>
                        <label for="name" class="col-lg-1 control-label">+353</label>
                        <div class="col-lg-6">
                            <input id="phonenumber" ng-model="user.phonenumber" type="text" name="phonenumber" placeholder="Phone number" class="col-lg-1 form-control">
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-primary"><a href="/#!/users/showphone">Verify</a></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Country</label>
                        <div class="col-lg-7">
                            <select id="country" name="country" class="col-lg-3 form-control">
                                <option value="IE">Ireland</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Username</label>
                        <div class="col-lg-10"><input id="username" ng-model="user.username" type="text" name="username" placeholder="Username" class="col-lg-1 form-control"></div></div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-7">
                            <input id="password" disabled type="password" name="password" placeholder="Password" class="col-lg-1 form-control">
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-primary">Change</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                            or&nbsp;<a href="/" class="show-login">cancel</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</section>