<section ng-controller="TeamsController" ng-init="find()">
    <div class="row">

            <div class="flash-area col-lg-12 content">
                    <!-- Subscribe to success flash messages. -->
                <span flash-alert="success" active-class="in" class="alert fade col-lg-12 ">
                    <strong class="alert-heading">Congrats!</strong>
                    <span class="alert-message">{{flash.message}}</span>
                </span>

                    <!-- Subscribe to error flash messages. -->
                <span flash-alert="error" active-class="in" class="alert fade">
                    <strong class="alert-heading">Boo!</strong>
                    <span class="alert-message">{{flash.message}}</span>
                </span>

                    <h1 id="tables">Teams<a href="/#!/teams/create" class="btn btn-success pull-right">Create</a></h1>
                </div>
            </div>

            <div class="bs-example table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Team name</th>
                        <th>Column heading</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="team in teams">
                        <td>{{$index + 1}}</td>
                        <td><a href="#!/teams/{{ team._id }}">{{team.name}}</a></td>
                        <td>enpty</td>
                        <td>
                            (<a href="#!/teams/{{ team._id }}/edit">Edit</a>)
                            (<a href="" ng-click="remove(team)" >Remove</a>)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /example -->
        </div>
    </div>
</section>