<section ng-controller="EventsController">
    <form class="form-horizontal" ng-submit="update()" ng-init="findOne();populateTeams()">
        <div class="row page-header">
            <div class="col-lg-6">
                <div class="well">
                    <form class="bs-example form-horizontal">
                        <fieldset>
                            <legend>Event Details...</legend>
                            <div class="form-group">
                                <label for="name" class="col-lg-2 control-label">Name</label>
                                <div class="col-lg-10">
                                    <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                                    <input type="text" class="form-control" ng-model="event.name" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-lg-2 control-label">Location</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" ng-model="event.location" id="location" placeholder="Location">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-lg-2 control-label">Time/Day</label>
                                <div class="col-lg-5">
                                    <select ng-model="event.time" class="form-control" ng-options="item.timeId as item.timeName for item in times"></select>
                                </div>
                                <div class="col-lg-5">
                                    <select ng-model="event.recurring" class="form-control"  ng-options="item.recurringId as item.recurringName for item in recurrings"></select>
                                    <!--<input type="text" ng-model="date" jqdatepicker />-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-lg-2 control-label">Start/End</label>
                                <div class="col-lg-5">
                                    <input type="text" required class="form-control" ng-model="event.startdate" jqstartpicker placeholder="Start date"/>
                                </div>
                                <div class="col-lg-5" ng-show="event.recurring > 0">
                                    <input type="text" class="form-control" ng-model="event.enddate" jqendpicker placeholder="End date" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Teams</label>
                                <div class="col-lg-10">
                                    <select
                                            class="form-control"
                                            ng-model="event.team"
                                            name="team"
                                            ng-options="c._id as c.name for c in teams">
                                        <option value="">Choose a team:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-lg-2 control-label">Numbers</label>
                                <div class="col-lg-3">
                                    <input type="number" class="form-control" ng-model="event.minAttendance" id="minAttendance" placeholder="Min" min="0" max="100" integer />{{size}}<br />
                                    <div ng-show="form.size.$error.integer">This is not valid number</div>
                                    <div ng-show="form.size.$error.min || form.size.$error.max"></div>
                                </div>
                                <div class="col-lg-3">
                                    <input type="number" class="form-control" ng-model="event.maxAttendance" id="maxAttendance" placeholder="Max" min="{{event.minAttendance}}" max="100" integer />{{size}}<br />
                                    <div ng-show="form.size.$error.integer">This is not valid number</div>
                                    <div ng-show="form.size.$error.min || form.size.$error.max"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-lg-2 control-label">Notification</label>
                                <div class="col-lg-5">
                                    <select ng-model="event.notificationtime" class="form-control" ng-options="item.timeId as item.timeName for item in morningtimes" placeholder="Initial"></select>
                                </div>
                                <div class="col-lg-5">
                                    <select ng-model="event.reminderstime" class="form-control" ng-options="item.timeId as item.timeName for item in morningtimes" placeholder="Reminder"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-lg-2 control-label">Message</label>
                                <div class="col-lg-10">
                                    <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                                    <textarea ng-model="event.message" required ngMaxlength="{25}" ngMinlength="{10}" ng-init="event.message='Thanks'" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Status</label>
                                    <div class="col-lg-10">
                                        <input ng-model="event.disabled" type="hidden" value="0">
                                        <button type="button" ng-click="event.disabled = 1 - event.disabled" class="btn" ng-model="button.active" bs-button>Enabled</button>
                                    </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                Enter some stuff here
            </div>
        </div>
    </form>
</section>


<!--<section ng-controller="EventsController">-->
  <!--<form class="form-horizontal" ng-submit="update()" ng-init="findOne();populateTeams();">-->
    <!--<div class="control-group">-->
        <!--<div class="controls">-->
            <!--<label>Name</label>-->
            <!--<input type="text" ng-model="event.name" id="name" placeholder="Name">-->
        <!--</div>-->
        <!--<div class="controls">-->
            <!--<input type="text" ng-model="event.location" id="location" placeholder="Location">-->
        <!--</div>-->
        <!--<div class="controls">-->
            <!--<select ng-model="event.day" ng-options="item.dayId as item.dayName for item in days"></select>-->
        <!--</div>-->
        <!--<div class="controls">-->
            <!--<select ng-model="event.time" ng-options="item.timeId as item.timeName for item in times"></select>-->
        <!--</div>-->

        <!--<br/>-->

        <!--<div class="controls">-->
            <!--<input type="hidden" ng-model="event.notificationTime" id="notificationTime" placeholder="NotificationTime">-->
            <!--<select ng-model="event.notificationTime" ng-options="item.timeId as item.timeName for item in times"></select>-->
        <!--</div>-->
        <!--<div class="controls">-->
            <!--<input type="text" ng-model="event.maxAttendance" id="maxAttendance" placeholder="MaxAttendance">-->
        <!--</div>-->
        <!--<div class="controls">-->
            <!--<input type="text" ng-model="event.minAttendance" id="minAttendance" placeholder="MinAttendance">-->
        <!--</div>-->

        <!--<br />-->

        <!--<div class="controls">-->
            <!--<input type="hidden" ng-model="event.disabled" id="disabled" placeholder="Disabled">-->
            <!--<button type="button" class="btn btn-primary" ng-model="event.disabled" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">-->
                <!--Disabled-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="controls">-->
            <!--<select-->
                    <!--ng-model="event.team._id"-->
                    <!--name="team"-->
                    <!--ng-options="c._id as c.name for c in teams">-->
                <!--<option value="">Choose a team:</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
      <!--<div class="controls">-->
        <!--<input type="submit" class="btn">-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</section>-->