<section>
    <div class="row">
        <div class="page-header">
            <h1 id="tables">Events<a href="/#!/events/create" class="btn btn-success pull-right">Create new Event</a></h1>
        </div>
        <div class="col-lg-6" ng-controller="EventsController" ng-init="find()">
            <div class="bs-example table-responsive">

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Event name</th>
                        <th>Location</th>
                        <th>Actions</th>
                        <th>Dates</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="event in events">
                        <td>{{$index + 1}}</td>
                        <td><a href="#!/events/{{ event._id }}">{{event.name}}</a></td>
                        <td>{{event.location}}</td>
                        <td>
                            (<a href="#!/events/{{ event._id }}/edit">Edit</a>)
                            (<a href="" ng-click="remove(event)" >Remove</a>)
                        </td>
                        <td>
                            <!--Create a select list for EventInstances here-->
                            <div class="col-lg-2 ">
                                <select id="eventselector" ng-model="eventinstanceselector" ng-change="selectAction(eventinstanceselector)" onchange="">
                                    <option style="display:none;" value="">Select</option>
                                    <option ng-repeat="instance in events[$index].eventinstances" value="{{instance._id}}">{{instance.startdate | date:'longDate'}}</option>
                                </select>
                                <!--<select style="width:100px" ng-model="selectedEvent" class="form-control" ng-options="c._id as c.startdate | date:'longDate' for c in events[$index].eventinstances"></select>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /example -->
        </div>
        <div class="col-lg-6" ng-controller="EventinstancesController" ng-init="find()" ng-show="selectedEvent">
            <div class="bs-example table-responsive">
                <i class="icon-remove" style="float:right;margin:15px" ng-click="closeevent()"></i>
                <tabset>
                    <!--<tab heading="Upcoming Dates">-->

                        <!--<table class="table table-striped table-bordered table-hover">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>#</th>-->
                                <!--<th>Event instance date</th>-->
                                <!--<th>Actions</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr data-ng-repeat="eventinstance in eventinstances | filter:{event:selectedEvent}">-->
                                <!--<td>{{$index + 1}}{{events.selectedEvent.data}}</td>-->
                                <!--<td><a href="#!/eventinstances/{{ eventinstance._id }}">{{eventinstance.startdate | date:'fullDate'}}</a></td>-->
                                <!--<td>-->
                                    <!--(<a href="#!/eventinstances/{{ eventinstance._id }}/edit">Edit</a>)-->
                                    <!--(<a href="" ng-click="remove(eventinstance)" >Remove</a>)-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->

                    <!--</tab>-->
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                        {{tab.content}}
                    </tab>
                    <tab select="alertMe()">
                        <tab-heading>
                            <i class="icon-bell"></i> Current Status
                        </tab-heading>
                        <div class="row">
                            <div class="col-lg-12" style="padding:10px;padding-left: 20px;">
                                5 of 10 (with a posibility of two more) confirmed
                            </div>
                        </div>
                    </tab>
                    <tab select="alertMe()">
                        <tab-heading>
                            <i class="icon-bell"></i> Messages
                        </tab-heading>


                        <div ng-controller="MessagesController" ng-init="find()">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--<div class="page-header">-->
                                    <!--<h1 id="tables">Events<a href="/#!/messages/create" class="btn btn-success pull-right">Create</a></h1>-->
                                    <!--</div>-->

                                    <div class="bs-example table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Player name</th>
                                                <th>Message Id</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="message in messages | filter:{eventinstance:selectedEvent}">
                                                <td>{{$index + 1}}</td>
                                                <td>{{message.player.firstname}}&nbsp;{{message.player.lastname}}</td>
                                                <td><a href="#!/messages/{{ message._id }}">{{message._id}}</a></td>
                                                <td>
                                                    (<a href="#!/messages/{{ message._id }}/edit">Edit</a>)
                                                    (<a href="" ng-click="remove(message)" >Remove</a>)
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- /example -->
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab select="alertMe()">
                        <tab-heading>
                            <i class="icon-bell"></i> Post Match Stats
                        </tab-heading>
                    </tab>
                </tabset>
            </div><!-- /example -->
        </div>
    </div>
</section>