extends auth

block auth
    form(action="/users/passwordresetcofirm", method="post").form-horizontal
        div.row.col-lg-6.center-well.page-header
          div.well
            fieldset
                legend Enter your email to receive a link that will enable you to reset your password.....
                div.form-group
                  label(for='name').col-lg-2.control-label Email
                  div.col-lg-10
                    input#email(type='text', name="email", placeholder='Email').col-lg-1.form-control


                div.form-group
                  div.col-lg-10
                      button.btn.btn-primary(type='submit') Reset
                      &nbsp;
                      | or&nbsp;
                      a.show-login(href="/") cancel.


