extends auth

block auth
    div.col-lg-6.col-md-offset-3.page-header
       div.well
          form(action="/users/session", method="post")
            fieldset
                legend Update your profile.....
                div.form-group
                    p.error= message
                    .control-group
                      label(for='email').col-lg-4.control-label Email
                      input#email(type='text', name="email", placeholder='Email').form-control

                div.form-group
                .control-group
                  label(for='password').col-lg-4.control-label Password
                  input#password(type='password', name="password", placeholder='Password').form-control

                div.form-group
                .control-group
                  button.btn.btn-primary(type='submit') Sign in
                  &nbsp;
                  | or&nbsp;
                  a.show-signup(href="/signup") Sign up

